.MainProduct
{
    display: grid;
}
.TitleOfProduct
{
    font-size: 4em;
    font-family: 'Kalam' ;
    font-weight: 700;
    text-align: center;
    padding: 1em;
    margin-top: 1em;
    transition: 0.6s;
}
.TitleOfProduct:hover
{
    transition: 0.4s;
    color: #D3C403;
}
.picofproduct
{
    width: 15em;
    height: 15em;
}
.BigBox
{
    padding: 1em;
    margin-bottom: 1em;
    display: flex;
    justify-content: space-around;
}
.Col-P1,
.Col-P2,
.Col-P3,
.picofproduct
{
    border: 1px #fff solid;
    border-radius: 30px;
    transition: 0.5s;
}
.picofproduct:hover
{
transition: 0.3s;
filter: blur(5px);
}
.cat,
.cat,
.cat
{
    font-size: 20px;
    font-family: 'Kalam' ;
    font-weight: 300;
}
.Col-P1
{
    background-image: 
    linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),url('./picofproduct/curtains.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 20em;
    height: 10em;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    transition: 0.7s;
}
.Col-P2
{
    background-image: 
    linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),url('./picofproduct/Fabric\ it.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 20em;
    height: 10em;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    transition: 0.7s;
}
.Col-P3
{
    background-image: 
    linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),url('./picofproduct/Couch\ corner\ furniture.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 20em;
    height: 10em;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    transition: 0.7s;
}
.Col-P1:hover,
.Col-P2:hover,
.Col-P3:hover
{
transition: 0.5s;
width: 25em;
color: #D3C403;
cursor: pointer;
}
@media only screen and (min-width: 240px ) and (max-width: 1024px ) 
{

.TitleOfProduct
{
font-size: 10em;
}
.BigBox
{
    display: grid;
    justify-content: space-around;
}
.Col-P1,
.Col-P2,
.Col-P3
{
    width: 70em;
    height: 35em;
}
.Col-P1:hover,
.Col-P2:hover,
.Col-P3:hover
{
transition: 0.5s;
width: 75em;
color: #D3C403;
cursor: pointer;
}
.cat
{
font-size: 6em;
}
}
