.MainFooter
{
    display: grid;
    background-color: #103178;
}
.BoxFooter
{
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 1px #fff solid;
    padding: 2em;
    margin: 2em;
}

.Col-1F
{
    display: grid;
    padding: 1em;
    font-family: 'Kalam' ;
    font-weight: 300;
    padding: 1em;
    direction: ltr;
    transition: 0.6s;
    color: #fff;
}
.CustomerService
{
    list-style-type: none;
}
.Col-2F
{
    display: flex;
}
.socialicon
{
    border: none;
    color: #fff;
    background-color: #103178;
    transition: 0.6s;
}
.socialicon:hover
{
  transition: 0.4s;
  transform: scale(1.5);	

}
.copy
{
    padding: 1em;
    font-family: 'Kalam' ;
    font-weight: 300;
    padding: 1em;
    direction: ltr;
    transition: 0.6s;
    color: #fff;
}
.CopyRight
{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.vodafone,
.master,
.visa,
.amrican,
.paypal
{
    padding: 1em;
    fill: #fff;
}
.Col-3F
{
    display: flex;
    padding: 1em;
    align-items: center;
}



/* CSS */
.button-54 {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  letter-spacing: 2px;
  text-decoration: none;
  text-transform: uppercase;
  color: #000;
  cursor: pointer;
  border: 3px solid;
  padding: 0.25em 0.5em;
  box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px;
  position: relative;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  margin: 1em;
}

.button-54:active {
  box-shadow: 0px 0px 0px 0px;
  top: 5px;
  left: 5px;
}

@media (min-width: 768px) {
  .button-54 {
    padding: 0.25em 0.75em;
  }
}

@media only screen and (min-width: 240px ) and (max-width: 1024px ) 
{
  .MainFooter
{
    width: 81em;
    height: 41em;
}
.Col-1F>h2
{
  font-size: 6em;
}
.CustomerService
{
  font-size: 2.5em;
}
.copy
{
  font-size: 2em;
}
}