.BoxUser
{
    display: grid;
}
.User
{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Kalam' ;
    font-weight: 300;
    padding: 1em;
    direction: ltr;
    transition: 0.4s;
    font-size: 25px;
}
.picofuser
{
    border: 1px #fff solid;
    border-radius: 30px;
    width: 3em;
}
.Logout-User
{
    border: none;
    background-color:#8d8d8d ;
    color: black;
    font-family: 'Kalam' ;
    font-weight: 300;
    border-radius: 30px;
    transition: 0.6s;
    padding: 0.5em;
}
.Logout-User:hover
{
background-color: #684ECE;
color: white;
transition: 0.4s;
}
.WelcomeUser
{
display: flex;
justify-content: center;
}
.UserVid
{
    width: 70em;
}
.Widgates
{
    display: flex;
    justify-content: space-around;
    padding: 1em;
    margin: 2em;
}
.W1-USER-Profile,
.W2-Favitem,
.W3-Custmize,
.W4-Order
{
    background-color: #684ECE;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 20em;
    height: 10em;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    transition: 0.7s;
    font-family: 'Kalam' ;
    font-weight: 300;
    border-radius: 30px;
}
.W1-USER-Profile:hover,
.W2-Favitem:hover,
.W3-Custmize:hover,
.W4-Order:hover
{
    transition: 0.9s;
    color: black;
    width: 25em;
}
.UserProfile>a,
.FavProducat>a,
.Custom>a,
.MyOrder>a

{
    text-decoration: none;
    color: #fff;
}
@media only screen and (min-width: 240px ) and (max-width: 1024px ) 
{
    .Widgates
    {
        display: grid;
        gap: 2em;
    }
    .W1-USER-Profile,
    .W2-Favitem,
    .W3-Custmize,
    .W4-Order
    {
        background-color: #684ECE;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 25em;
    height: 10em;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    transition: 0.7s;
    font-family: 'Kalam';
    font-weight: 300;
    border-radius: 30px;
    font-size: 3em;
    }
    
    .icnonuser
    {
     width: 2em;
    height: 3em;
    }
    .picofuser
    {
        width: 5em;
    }
    .UserVid
    {
        width: 100em;
    }
    .User
    {
        font-size: 3em;
    }
}