.MainWhyIbrim
{
    display: grid;
    margin: 1em;
}
.BoxWhyIbrim
{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.TiltleOfWhyIbrim
{
    font-family: 'Kalam' ;
    font-weight: 300;
    text-align: center;
    font-size: 35px;
    padding: 1em;
    transition: 0.6s;
}
.TiltleOfWhyIbrim:hover
{
    color: #D9C800;
    transition: 0.4s;
}
.WhyAR
{
    font-family: 'Harmattan';
    font-weight: 700;
    padding: 1em;
    direction: rtl;
    transition: 0.6s;
}
.WhyEN
{
    font-family: 'Kalam' ;
    font-weight: 300;
    padding: 1em;
    direction: ltr;
    transition: 0.6s;
}
.WhyAR:hover,
.WhyEN:hover
{
color: #D9C800;
transition: 0.4s;
}
.Col-1W
{
    display: grid;
    width: 40em;
}
.picwhy
{
    transition: 0.6s;
    width: 30em;
}
.picwhy:hover
{
    transition: 0.4s;
    width: 40em;
}
@media only screen and (min-width: 240px ) and (max-width: 1024px ) 
{
    .TiltleOfWhyIbrim
    {
        font-size: 8em;
        display: grid;
    }
    .BoxWhyIbrim
    {
        display: grid;
    }
    .Col-1W,
    .Col-2W
    {
        width: 75em;
    }
    .picwhy
    {
        width: 60em;
    }
    .picwhy:hover
    {
        width: 70em;
    }
    .WhyAR,
    .WhyEN
    {
        font-size: 5em;
    }
}