*
{
    box-sizing: border-box;
    --accent: #ff0066;

}
::-webkit-scrollbar {
  height: 5px;
  width: 7px;
  background: #fff3;
  -webkit-border-radius: 1ex;
}
::-webkit-scrollbar-thumb {
    background: #103178;
    -webkit-border-radius: 1ex;
  }
  